@import "tailwindcss" prefix(elo);

@theme {
  --color-primary: #6f33b7;
  --color-primary-light: #d1b5ff;
  --color-secondary: #eb6c52;
  --color-secondary-light: #ffdfc5;
  --color-success: #0fdb9b;
  --color-success-light: #9fffe0;
  --color-info: #53acd0;

  --color-background: #faf7f2;
  --color-foreground: #262623;

  --color-background-dark: #3d3b3a;
  --color-foreground-dark: #ffffff;

  --spacing-widget: calc(100vw - 2rem);

  --font-sans: "Geist Variable", sans-serif;
}
